@model EventSystem.ViewModels.EventViewModel.DeleteEventViewModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Event</title>
</head>
<body>
<h1>Delete Event</h1>

    <p>Are you sure you want to delete the event? <strong>@Model.Name</strong>?</p>

<form method="post">

    @Html.AntiForgeryToken()

    <!-- The event's ID will be posted with the form -->
    <input type="hidden" name="id" value="@Model.Id"/>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "Event")" class="btn btn-secondary">Cancel</a>
</form>
</body>


