@model IEnumerable<PersonInfo>

@if (Model.Any())
{
    <ul id="searchResults">
        @foreach (var user in Model)
        {
            <li>
                @user.Name
                <button class="invite-button" data-userid="@user.Id" >Invite</button>
            </li>
        }
    </ul>
}
else
{
    <p>No results found.</p>
}